<%= form_for(@article) do |f| %>
  <ul>
  <% @article.errors.full_messages.each do |error| %>
    <li><%= error %></li>
  <% end %>
  </ul>
  <p>
    <%= f.text_field :title, placeholder: "Title" %>
    <%= f.text_field :tag_list, placeholder: "Tags" %>
  </p>
  <p>
    <%= f.text_area :body, placeholder: "Body" %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>
